/* ---- Navbar Styles ---- */
.navbar {
  background-color: #003366;
  padding: 31.5px 15.12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44.1px;
  z-index: 1000;
  box-shadow: 0 2.52px 5.04px rgba(0, 0, 0, 0.15);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  width: 56.7px;
  height: 44.1px;
  margin-right: 9.45px;
  margin-left: 9.45px;
}

.navbar-text {
  color: white;
  font-size: 15.12px;
  font-weight: 700;
  white-space: nowrap;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #003366;
  padding: 6.3px 15.12px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  height: 44.1px;
  box-shadow: 0 2.52px 5.04px rgba(0, 0, 0, 0.15);
}